.footer-container {
    width: 100%;
    padding: 10px 0;

    color: #fff; /* White text color */
    text-align: center; /* Center the text */
    position: fixed; /* Fix the footer at the bottom */
    bottom: 0;
    left: 0;
  }
  
  .footer-title {
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0;
  }